# =================================
# VARIABLES PARA LA CONEXION A LA BASE DE DATOS EN PHP
# =================================

DB_HOST=example
DB_USER=example
DB_PASSWORD=example
DB_NAME=example

# ==========================================
# CONFIGURACIÓN DE MARIADB
# ==========================================

# Contraseña del usuario 'root' de MariaDB
MYSQL_ROOT_PASSWORD=root_password_segura_123

# Nombre de la base de datos que se creará automáticamente al iniciar
MYSQL_DATABASE=tienda_online

# Usuario de la aplicación (no root) con permisos sobre la BD
MYSQL_USER=usuario_tienda

# Contraseña para el usuario de la aplicación
MYSQL_PASSWORD=user_password_segura_123


# ==========================================
# PUERTOS Y SERVICIOS
# ==========================================

# Puerto expuesto para conectarte a MariaDB desde el host (o DBeaver, MySQL Workbench, etc.)
MARIADB_PORT=3306

# Puerto expuesto para acceder a la interfaz web de Adminer
ADMINER_PORT=8080
